* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    border: none;
    cursor: pointer;
}

body {
    height: 100vh;
}

body header {
    display: flex;
    align-items: center;
    padding: 22px;
    height: 60px;
    border-bottom: 1px solid rgba(0 0 0 /.1);
}

body header a img {
    height: 18px;
}

main .color-form {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
}

main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
}

main .color-form button {
    border-radius: 7px;
    padding: 7px;

}

main .color-list {
    position: relative;
    display: flex;
    height: calc(100% - 56px);
}

main .color-list .color {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 45px;
    height: 100%;
    width: 100%;
    padding-bottom: 65px;
    background-color: teal;
}

main .color-list .color .color-codes {
    display: flex;
    flex-direction: column;
}

main .color-list .color .color-hex-code {
    font-size: xx-large;
    letter-spacing: 1px;
    color: inherit;
}

main .color-list .color .color-rgb-code {
    color: inherit;
}

main .color-list .color .color-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .color-list .color button {
    border-radius: 7px;
    padding: 7px;
    background-color: transparent;
}

main .color-list .color button:hover {
    background-color: rgba(0 0 0 /.1);
}

main .color-list .color .padlock {
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    box-sizing: content-box;
    height: 22px;
    width: 22px;
}

main .color-list .color .padlock.unlocked {
    opacity: .6;
    background-image: url(assets/unlocked.svg);
}

main .color-list .color .padlock.unlocked:hover {
    opacity: 1;
}

main .color-list .color .padlock.locked {
    opacity: 1;
    background-image: url(assets/locked.svg);
}

main .color-list .color .delete-color {
    background-image: url(assets/delete.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    box-sizing: content-box;
    height: 15px;
    width: 15px;
    opacity: .6;
}

main .color-list .color .delete-color:hover {
    opacity: 1;
}

main .color-list .add-color-container {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
    width: 30px;
    transform: translate(-50%, -50%);
}

main .color-list .add-color-container:hover button {
    opacity: 1;
    background-color: #FFFFFF;
}

main .color-list .add-color-container .add-color {
    background-image: url(assets/plus.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    position: absolute;
    top: 50%;
    height: 30px;
    width: 30px;
    transform: translateY(-50%);
    border-radius: 50%;
    /* opacity: 0; */
    background-color: #FFFFFF;
}

main .color-list .add-color-container .add-color:hover {
    background-color: #FFFFFF;
    opacity: 1;
}

main .color-list .add-color-container .add-color {
    display: block;
    position: absolute;
    top: 50%;
    height: 30px;
    width: 30px;
    transform: translate(0, -50%);
    border-radius: 50%;
    opacity: 0;
    background-color: #FFFFFF;
}

main .color-list .color:first-child .add-color-container {
    transform: translate(0, -50%);
}

main .color-list .add-color-container:last-child {
    position: absolute;
    top: 50%;
    left: auto;
    transform: translate(-100%, -50%);
}

main .color-list .add-color-container:last-child button {
    height: 30px;
    width: 30px;
}

.invert {
    filter: invert(1);
}

.copy-container {
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    width: 300px;
    padding: 16px 0;
    border-radius: 50px;
    background-color: rgb(20, 20, 20);
    color: #FFFFFF;
    animation: aparecer 1.5s ease-in-out forwards;
}

@keyframes aparecer {
    0% {
        bottom: -10px;
        opacity: 1;
    }

    8% {
        bottom: 30px;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}
